.main{
    position: absolute;
    background-color: rgb(59, 59, 59);
    border: 1px solid white;
    animation: scale-up 0.2s forwards ease-out;
    border-radius: 1.5rem;
    display: flex;
    
    
}

.bg{
    z-index: 1000000;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

@keyframes scale-up {
    from {
    }
    to {
        position: relative;
        //margin: auto;
        top: 7.5vh;
        left: 7.5vw;
        width: 85vw;
        height: 85vh;
    }
}