.main{
    position: relative;
    overflow: auto;
    width: 100%;
    padding: 3rem;
    font-size: 1.5rem;

    .imgWithCaption{
        display: flex;
        flex-direction: column;
        img{
            margin: auto;
            width: 30vw;
        }
        p{
            border-left: 3px solid rgb(168, 168, 168);
            color: rgb(168, 168, 168);
            font-size: 1.2rem;
            padding-left: 1rem;

        }
    }

}