.main{
    position: relative;
    overflow: auto;
    width: 100%;
    padding: 3rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;

    img{
        width: 40vw;
        margin: auto;
    }
}